*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #17F1D8;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin; 
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.4);
    font-size: 5vmin;
    background-color:white;   /* Give or Else changes by default for button.diabled=true for not changing the content*/
    color: black;
}
.reset{
    padding: 1rem;
    font-size: 0.9rem;
    background-color: rgb(20, 12, 17);
    color: white;
    border:none;
    border-radius: 1rem;
}
#new-btn{
    padding: 1rem;
    font-size: 0.9rem;
    background-color: rgb(20, 12, 17);
    color: white;
    border:none;
    border-radius: 1rem;
}

#msg{
    color: rgb(236, 236, 224);   
    font-size: 8vmin;
}


.msg-container{
    height: 90vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hide{
    display:none;
}
